* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 80%, 96%);
  display: flex;
}

/* HEADER */

.menu {
  font-size: 2vw;
  padding: 25px 0px 0px 0px;
}

header {
  display: flex;
}

.heading-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 75px 50px;
  margin: 25px 0px 0px 0px;
  position: absolute;
  width: 100%;
}

.heading-primary-main {
  font-family: "Baloo Paaji 2";
  font-size: 180px;
  line-height: 0.8;
  text-transform: uppercase;
  display: block;
  color: hsl(266, 6%, 24%);

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  font-family: "Montserrat";
  font-size: 24px;
  display: block;
  color: hsl(266, 6%, 24%);

  animation: moveInRight 1s ease-out;
}

.heading-primary-media {
  display: none;
}

/* HEADER ANIMATION */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opactity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

main {
  margin-top: 350px;
  padding: 0px 40px 50px 40px;
}

.tour-stops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
}

.cities {
  font-family: "Montserrat";
  font-size: 0.5em;
  color: hsl(30, 80%, 96%);
}

.box {
  width: 302px;
  height: 395px;
  background-repeat: no-repeat;

  font-family: "Baloo Paaji 2";
  font-size: 58px;
  font-weight: 600;
  color: hsl(30, 80%, 96%);
  text-shadow: -1px 2px 9px hsl(266, 6%, 24%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.os-font {
  line-height: 0.85;
  text-align: center;
}

.winter-tour,
.spring-tour {
  font-size: 6em;
  color: hsl(266, 6%, 24%);
}

/* BUTTONS */

.button {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 0px 10px;

  font-family: "Baloo Paaji 2";
  font-size: 58px;
  font-weight: 600;
  color: hsl(30, 80%, 96%);
  text-shadow: -1px 2px 9px hsl(266, 6%, 24%);
  box-shadow: 1px 1px 20px hsl(18, 95%, 75%);

  border: 3px solid hsl(30, 80%, 96%);
  border-radius: 8px;

  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.info {
  box-shadow: 1px 1px 10px hsl(18, 95%, 75%);
}

/* CITY BACKGROUND IMAGES */

.winter-tour,
.spring-tour,
.summer-tour,
.fall-tour {
}

.denver {
  background-image: url(/denver-br.jpg);
}

.asheville {
  background-image: url(/ashville-br.jpg);
}

.atlanta {
  background-image: url(/atlanta-br.jpg);
}

.nashville {
  background-image: url(/nashville-br.jpg);
}

.st-augustine {
  background-image: url(/st-augustine-br.jpg);
}

.tampa {
  background-image: url(/tampa-br.jpg);
}

.savannah {
  background-image: url(/savannah-br.jpg);
}

.charlottesville {
  background-image: url(/charlottesville-br.jpg);
}

.cary {
  background-image: url(/cary-br.png);
}

.grand-rapids {
  background-image: url(/grand-rapids-br.png);
}

.rosemont {
  background-image: url(/rosemont-br.jpg);
}

.kansas-city {
  background-image: url(/kansas-city-br.jpg);
}

.st-louis {
  background-image: url(/st-louis-br.jpg);
}

.lexington {
  background-image: url(/lexington-br.png);
}

.melbourne {
  background-image: url(/melbourne-br.jpg);
}

.sydney {
  background-image: url(/sydney-br.jpg);
}

.brisbane-city {
  background-image: url(/brisbane-city-br.jpg);
}

.auckland {
  background-image: url(/auckland-br.jpg);
}

/* CITY ADJUSTMENTS */

.charlottesville {
  font-size: 40px;
}

.down-under {
  font-size: 0.5em;
  text-shadow: 2px 1px 7px hsl(266, 6%, 24%);
}

/* TOUR STOP - INFO PAGE */

/* BAND PICS */
.home {
  background-image: url(/home.png);
}
.grateful-dub {
  background-image: url(/grateful-dub.png);
}

.saylor-brothers {
  background-image: url(/saylor-brothers.png);
}

.happy-landing {
  background-image: url(/happy-landing.png);
}

.airshow {
  background-image: url(/airshow.png);
}

.arkansauce {
  background-image: url(/arkansauce.png);
}

.fireside-collective {
  background-image: url(/fireside-collective.png);
}

.fuzzy-rainbow-fest {
  background-image: url(/fuzzy-rainbow-fest.png);
}

.john-mailander {
  background-image: url(/john-mailander.png);
}

.johnny-mullenax {
  background-image: url(/johnny-mullenax.png);
}

.kyle-tuttle {
  background-image: url(/kyle-tuttle.png);
}

.mountain-grass-unit {
  background-image: url(/mountain-grass-unit.png);
}

.sicard-hollow {
  background-image: url(/sicard-hollow.png);
}

.suns-of-stars {
  background-image: url(/suns-of-stars.png);
}

.suns-of-stars-2 {
  background-image: url(/suns-of-stars-2.png);
}

.town-mountain {
  background-image: url(/town-mountain.png);
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
}

.menu {
  font-size: 5vw;
}

.city {
  margin: 25px 0px 0px 0px;
  font-family: "Baloo Paaji 2";
  font-size: 15vw;
  font-weight: 600;
  color: hsl(266, 6%, 24%);
  /* text-shadow: 0px 0px 4px hsl(246, 54%, 29%); */

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.state {
  margin: -270px 0px 25px 0px;
  font-family: "Baloo Paaji 2";
  text-transform: lowercase;
  font-size: 7vw;
  font-weight: 500;
  color: hsl(266, 6%, 24%);
  /* text-shadow: 0px 0px 4px hsl(246, 54%, 29%); */

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.show-info {
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  padding: 25px;
  margin: -25px 0px 25px 0px;
  animation: moveInRight 1s ease-out;
  color: hsl(266, 6%, 24%);
}

.venue a {
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  gap: 10px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 112px;
  padding: 25px 0px 100px 0px;
  font-family: "Montserrat";
  font-size: 1em;
  color: hsl(198, 94%, 28%);
  margin: 0px 0px 0px 0px;
}

.event-date {
  font-size: 7vw;
  font-weight: 200;
  letter-spacing: 4px;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Baloo Paaji 2";
  color: hsl(266, 6%, 24%);
}

.individual-event {
  width: 350px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.band {
  font-size: 2.75em;
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.band-extra {
  font-size: 0.5em;
}

.os-band {
  font-size: 2em;
  font-weight: 450;
}

.os-os-band {
  font-size: 1.35vw;
}

a {
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.time-venue {
  padding: 10px 0px 0px 0px;
  font-size: 1em;
  color: hsl(266, 6%, 24%);
}

.os-tv {
  font-size: 0.9em;
}

@media screen and (min-width: 1024px) {
  /* .heading-text {
    margin: -25px 0px 0px 0px;
  } */

  .tour-stops {
    margin: 50px 0px 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  /* INDEX */
  .heading-text {
    flex-direction: column;
    line-height: 2em;
  }

  .heading-primary-main {
    font-size: 35vw;
    margin: -55px 0px 0px 0px;
  }

  .heading-primary-sub {
    display: none;
  }

  .heading-primary-media {
    font-family: "Montserrat";
    color: hsl(266, 6%, 24%);
    font-size: 20px;
    line-height: 1em;
    display: block;
    padding: 10px;
    animation: moveInRight 1s ease-out;
  }

  .tour-stops {
    gap: 20px;
    margin: 125px 0px 0px 0px;
  }

  .winter-tour,
  .spring-tour,
  .summer-tour,
  .fall-tour {
    height: 150px;
    margin: -45px 0px -45px 0px;
    font-size: 15vw;
  }

  .hidden {
    display: none;
  }
  .box {
    border-radius: 8px;
  }

  /* TOUR STOP - INFO PAGE*/

  .city {
    font-size: 23vw;
    margin: -10px 0px 0px 0px;
  }
  .show-info {
    font-size: 3.25vw;
    font-weight: 300;
  }

  .dates,
  .times {
    font-size: 4vw;
  }

  .event-date {
    font-size: 8vw;
    letter-spacing: 2px;

    padding: 0px 0px 15px 0px;
  }

  .event {
    gap: 150px;
  }

  .individual-event {
    border-radius: 8px;
  }

  .band {
    font-size: 8vw;
  }

  .os-band {
    font-size: 6vw;
  }

  .os-os-band {
    font-size: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .os-os-band {
    font-size: 4.25vw;
  }
}

@media screen and (min-width: 714px) and (max-width: 1024px) {
  .tour-stops {
    margin: 112px -40px 0px -40px;
  }
}

@media screen and (min-width: 1400px) {
  .state {
    margin: -150px 0px 25px 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .state {
    margin: -120px 0px 25px 0px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .state {
    margin: -99px 0px 25px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .state {
    margin: -72px 0px 25px 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .state {
    margin: -50px 0px 25px 0px;
  }
}

@media screen and (max-width: 576px) {
  .state {
    margin: -50px 0px 25px 0px;
  }

  .tour-stops {
    margin: 0px 0px 0px 0px;
  }
}
