* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 80%, 96%);
}

/* NAV */

.nav a {
  position: absolute;
  left: 85%;
  padding: 3vw;
  font-family: "Baloo Paaji 2";
  font-size: 2em;
  color: hsl(240, 5%, 4%);
}

.dropdown {
  position: absolute;
  padding: 3em;
  left: 85%;
  backdrop-filter: blur(20px);
  z-index: 9999;
}

.button-dropdown {
  position: fixed;
  background-color: transparent;

  font-family: "Baloo Paaji 2";
  font-size: 4vw;
  color: hsl(266, 6%, 24%);

  border: none;
  cursor: pointer;
}

.button-dropdown:hover,
.button-dropdown:focus {
  color: hsl(18, 95%, 75%);
  border: 2px solid hsl(18, 95%, 75%);
  box-shadow: 1px 1px 10px hsl(18, 95%, 75%);
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 80%;
  background-color: hsl(30, 80%, 96%);
  width: 15vw;
  box-shadow: 0px 1px 10px hsl(18, 95%, 75%);
  border-radius: 12px;

  z-index: 1;
}

.dropdown-content a {
  display: block;

  font-family: "Montserrat";
  font-size: 1.1vw;
  color: hsl(266, 6%, 24%);

  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.dropdown-content a:hover {
  color: hsl(240, 5%, 4%);
  text-transform: uppercase;
}

.show {
  display: block;
}

/* HEADING */

.heading-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3em;
}

.heading-primary-main {
  font-family: "Baloo Paaji 2";
  font-size: 12em;
  text-transform: uppercase;
  color: hsl(266, 6%, 24%);

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  font-family: "Montserrat";
  font-size: 2em;
  display: block;
  color: hsl(266, 6%, 24%);

  animation: moveInRight 1s ease-out;
}

.heading-primary-media {
  display: none;
}

/* HEADER ANIMATION */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opactity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.tour-stops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 302px;
  height: 395px;

  font-family: "Baloo Paaji 2";

  line-height: 0.85;
  text-align: center;
}

.winter-tour,
.spring-tour {
  font-size: 4em;
  color: hsl(267, 6%, 32%);
  font-weight: 100;
}

.down-under {
  font-size: 0.4em;
  font-weight: 100;
  color: hsl(267, 6%, 40%);
}

.cities {
  font-family: "Montserrat";
  font-size: 0.5em;
  color: hsl(30, 80%, 96%);
}

/* BUTTONS */

.button {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 5px;

  font-family: "Baloo Paaji 2";
  font-size: 3em;
  color: hsl(30, 80%, 96%);
  text-shadow: -1px 2px 9px hsl(266, 6%, 24%);
  box-shadow: 1px 1px 20px hsl(18, 95%, 75%);

  border: 3px solid hsl(30, 80%, 96%);
  border-radius: 8px;

  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.os-button {
  font-size: 3em;
  line-height: 0.85;
}

.info {
  box-shadow: 1px 1px 10px hsl(18, 95%, 75%);
}

.footer {
  position: absolute;
  padding: 50px 0px;
  left: 45%;
}

.email {
  font-family: "Montserrat";
  font-size: 3em;
}

/* CITY BACKGROUND IMAGES */

.denver {
  background-image: url(/denver-br.jpg);
}

.asheville {
  background-image: url(/ashville-br.jpg);
}

.atlanta {
  background-image: url(/atlanta-br.jpg);
}

.nashville {
  background-image: url(/nashville-br.jpg);
}

.st-augustine {
  background-image: url(/st-augustine-br.jpg);
}

.tampa {
  background-image: url(/tampa-br.jpg);
}

.savannah {
  background-image: url(/savannah-br.jpg);
}

.charlottesville {
  background-image: url(/charlottesville-br.jpg);
}

.cary {
  background-image: url(/cary-br.png);
}

.grand-rapids {
  background-image: url(/grand-rapids-br.png);
}

.rosemont {
  background-image: url(/rosemont-br.jpg);
}

.kansas-city {
  background-image: url(/kansas-city-br.jpg);
}

.st-louis {
  background-image: url(/st-louis-br.jpg);
}

.lexington {
  background-image: url(/lexington-br.png);
}

.melbourne {
  background-image: url(/melbourne-br.jpg);
}

.sydney {
  background-image: url(/sydney-br.jpg);
}

.brisbane-city {
  background-image: url(/brisbane-city-br.jpg);
}

.auckland {
  background-image: url(/auckland-br.jpg);
}

.phoenix {
  background-image: url(/phoenix-br.jpg);
}

.chula-vista {
  background-image: url(/chula-vista-br.png);
}

.los-angeles {
  background-image: url(/los-angeles-br.jpg);
}

.wheatland {
  background-image: url(/wheatland.png);
}

.nampa {
  background-image: url(/nampa-br.png);
}

.spokane {
  background-image: url(/spokane-br.jpg);
}

.ridgefield {
  background-image: url(/ridgefield-br.jpg);
}

.george {
  background-image: url(/george.png);
}

/* TOUR STOP - INFO PAGE */

/* BAND PICS */
.grateful-dub {
  background-image: url(/grateful-dub.png);
}

.saylor-brothers {
  background-image: url(/saylor-brothers.png);
}

.happy-landing {
  background-image: url(/happy-landing.png);
}

.airshow {
  background-image: url(/airshow.png);
}

.arkansauce {
  background-image: url(/arkansauce.png);
}

.fireside-collective {
  background-image: url(/fireside-collective.png);
}

.fuzzy-rainbow-fest {
  background-image: url(/fuzzy-rainbow-fest.png);
}

.john-mailander {
  background-image: url(/john-mailander.png);
}

.johnny-mullenax {
  background-image: url(/johnny-mullenax.png);
}

.kyle-tuttle {
  background-image: url(/kyle-tuttle.png);
}

.mountain-grass-unit {
  background-image: url(/mountain-grass-unit.png);
}

.sicard-hollow {
  background-image: url(/sicard-hollow.png);
}

.suns-of-stars {
  background-image: url(/suns-of-stars.png);
}

.suns-of-stars-2 {
  background-image: url(/suns-of-stars-2.png);
}

.town-mountain {
  background-image: url(/town-mountain.png);
}

.phaux-fish {
  background-image: url(/phaux-fish.png);
}

.josh-blake {
  background-image: url(/josh-blake.png);
}

.wall-street {
  background-image: url(/wall-street.png);
}

.charlotte-bluegrass {
  background-image: url(/charlotte-bluegrass.png);
}

.rossdafareye {
  background-image: url(/rossdafareye.png);
}

.wakefield1 {
  background-image: url(/wakefield1.png);
}

.wakefield2 {
  background-image: url(/wakefield2.png);
}

.wakefield3 {
  background-image: url(/wakefield3.png);
}

.wakefield4 {
  background-image: url(/wakefield4.png);
}

.wakefield5 {
  background-image: url(/wakefield5.png);
}

.wakefield6 {
  background-image: url(/wakefield6.png);
}

.shady-grove {
  background-image: url(/shady-grove.png);
}

.well-drinkers {
  background-image: url(/well-drinkers.png);
}

.nobodys-darling {
  background-image: url(/nobodys-darling.png);
}

.bear-creek {
  background-image: url(/bear-creek.png);
}

.drew-matulich {
  background-image: url(/drew-matulich.png);
}

.hollow-heart {
  background-image: url(/hollow-heart.png);
}

.mojo-mountain {
  background-image: url(/mojo-mountain.png);
}

.clouds-of-delusion {
  background-image: url(/clouds-of-delusion.png);
}

.humphries-bazemore {
  background-image: url(/humphries-bazemore.png);
}

.phaux-fish-west {
  background-image: url(/phaux-fish-west.png);
}

.stolen-faces {
  background-image: url(/stolen-faces.png);
}

.hoto-mozambique {
  background-image: url(/hoto-mozambique.png);
}

.daze-between {
  background-image: url(/daze-between.png);
}

.songs-from-the-road {
  background-image: url(/songs-from-the-road.png);
}

.harrahs {
  background-image: url(/harrahs.png);
}

.daycrawlers {
  background-image: url(/daycrawlers.png);
}

.redbud-bald {
  background-image: url(/redbud-bald.png);
}

.greenliners {
  background-image: url(/greenliners.png);
}

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
}

.city {
  font-family: "Baloo Paaji 2";
  font-size: 12em;
  font-weight: 600;
  color: hsl(265, 6%, 40%);

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.state {
  margin: -125px 0px 0px 0px;
  font-family: "Baloo Paaji 2";
  text-transform: lowercase;
  font-size: 5em;
  font-weight: 100;
  color: hsl(265, 6%, 40%);

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.show-info {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  padding: 100px 0px;
  animation: moveInRight 1s ease-out;
  color: hsl(266, 6%, 24%);
}

.venue a {
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  gap: 10px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 125px;
  padding: 25px 0px 100px 0px;
  font-family: "Montserrat";
  font-size: 1em;
  color: hsl(198, 93%, 36%);
}

.event-date {
  font-size: 7em;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Baloo Paaji 2";
  color: hsl(266, 6%, 24%);
}

.individual-event {
  width: 350px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.band {
  font-size: 2.75em;
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.band-extra {
  font-size: 0.5em;
}

.band-extra-beloved {
  font-size: 1em;
}

.os-band {
  font-size: 2em;
  font-weight: 450;
}

.os-os-band {
  font-size: 1.9em;
}

.os-os-os-band {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: hsl(198, 94%, 28%);
}

.time-venue {
  padding: 10px 0px 0px 0px;
  font-size: 1.55em;
  color: hsl(266, 6%, 24%);
}

.os-tv {
  font-size: 1em;
}

footer {
  display: flex;
  flex-direction: row;
}

.form {
  font-size: 3em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1285px) and (max-width: 1592px) {
  .tour-stops {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1285px) {
  .dropdown {
    margin: 10px;
  }

  .button-dropdown {
    font-size: 2em;
  }

  .dropdown-content {
    margin: 0px 0px 0px -55px;
  }

  .heading-text {
    padding: 50px 0px;
  }

  .heading-primary-main {
    font-size: 7em;
  }

  .heading-primary-sub {
    font-size: 1.25em;
  }

  .tour-stops {
    justify-content: center;
    margin: 0;
  }

  .event-date {
    font-size: 6em;
  }

  .footer {
    height: 750px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .dropdown {
    left: 75%;
    margin: 0;
  }

  .heading-text {
    padding: 100px 0px 0px 0px;
  }

  .heading-primary-main {
    font-size: 6em;
  }

  .heading-primary-sub {
    font-size: 1.25em;
  }

  .tour-stops {
    justify-content: center;
    margin: 0;
  }

  .box {
    width: 225px;
    height: 225px;
  }

  .winter-tour,
  .spring-tour {
    font-size: 2em;
  }

  .button {
    padding: 0px;
  }

  .location {
    padding: 25px 0px 0px 0px;
  }

  .city {
    font-size: 9em;
  }

  .state {
    font-size: 5em;
  }

  .event-date {
    font-size: 4em;
  }

  .time-venue {
    font-size: 1em;
  }

  .os-os-band {
    font-size: 1.9em;
  }

  .footer {
    left: 43%;
    font-size: 2em;
    height: 750px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav a {
    left: 75%;
  }

  .dropdown {
    left: 75%;
    margin: 10px 0px;
  }

  .button-dropdown {
    font-size: 1.5em;
  }

  .heading-text {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 75px 0px;
  }

  .heading-primary-main {
    font-size: 5.5em;
  }

  .heading-primary-sub {
    display: none;
  }

  .heading-primary-media {
    display: block;
    font-family: "Montserrat";
    color: hsl(266, 6%, 24%);
    margin: -27px 0px -45px 0px;

    animation: moveInRight 1s ease-out;
  }

  .tour-stops {
    justify-content: center;
    margin: 0;
  }

  .box {
    width: 250px;
    height: 250px;
  }

  .winter-tour,
  .spring-tour {
    font-size: 2em;
  }

  .button {
    padding: 0px;
  }

  .location {
    padding: 75px 0px 0px 0px;
  }

  .city {
    font-size: 8em;
  }

  .state {
    font-size: 3em;
    margin: -88px 0px 0px 0px;
  }

  .show-info {
    font-size: 1.75em;
  }

  .venue a {
    font-size: 1em;
  }

  .event-date {
    font-size: 2.5em;
    padding: 15px;
  }

  .time-venue {
    font-size: 1em;
  }

  .os-os-band {
    font-size: 1.75em;
  }

  .footer {
    left: 40%;
    font-size: 2em;
  }
}

@media screen and (min-width: 418px) and (max-width: 576px) {
  .nav a {
    left: 75%;
  }

  .dropdown {
    left: 73%;
    margin: 10px 0px 0px 0px;
  }

  .button-dropdown {
    font-size: 1.25em;
  }

  .dropdown-content {
    margin: 0px 0px 0px -80px;
  }

  .heading-text {
    flex-direction: column;
    padding: 50px 0px 50px 0px;
  }

  .heading-primary-main {
    font-size: 4em;
  }

  .heading-primary-sub {
    display: none;
  }

  .heading-primary-media {
    display: block;
    font-family: "Montserrat";
    color: hsl(266, 6%, 24%);
    font-size: 0.9em;
    margin: -15px 0px 0px 0px;

    animation: moveInRight 1s ease-out;
  }

  .tour-stops {
    justify-content: center;
  }

  .winter-tour,
  .spring-tour {
    font-size: 3em;
    margin: -160px 0px;
  }

  .location {
    padding: 75px 0px 0px 0px;
  }

  .city {
    font-size: 6em;
  }

  .state {
    font-size: 2em;
    margin: -60px 0px 0px 0px;
  }

  .show-info {
    font-size: 1.75em;
  }

  .venue a {
    font-size: 1em;
  }

  .times {
    font-size: 0.85em;
  }

  .event-date {
    font-size: 2.1em;
    padding: 15px;
  }

  .time-venue {
    font-size: 1em;
  }

  .os-os-band {
    font-size: 1.75em;
  }

  .footer {
    left: 43%;
    font-size: 1em;
  }
}

@media screen and (min-width: 312px) and (max-width: 418px) {
  .nav a {
    left: 65%;
  }

  .dropdown {
    left: 73%;
    margin: 10px 0px 0px 0px;
  }

  .button-dropdown {
    font-size: 1.25em;
  }

  .dropdown-content {
    margin: 0px 0px 0px -80px;
  }
  .heading-text {
    flex-direction: column;
    padding: 50px 0px 50px 0px;
  }

  .heading-primary-main {
    font-size: 4em;
  }

  .heading-primary-sub {
    display: none;
  }

  .heading-primary-media {
    display: block;
    font-family: "Montserrat";
    color: hsl(266, 6%, 24%);
    margin: -15px 0px 0px 0px;

    animation: moveInRight 1s ease-out;
  }

  .tour-stops {
    justify-content: center;
  }

  .winter-tour,
  .spring-tour {
    font-size: 3em;
    margin: -160px 0px;
  }

  .location {
    padding: 50px 0px 0px 0px;
  }

  .city {
    font-size: 5.5em;
  }

  .state {
    font-size: 2em;
    margin: -60px 0px 0px 0px;
  }

  .show-info {
    font-size: 1.75em;
    padding: 50px 0px;
  }

  .venue a {
    font-size: 0.9em;
  }

  .dates {
    font-size: 0.75em;
  }

  .times {
    font-size: 0.75em;
  }

  .event-date {
    font-size: 2.25em;
    letter-spacing: 0px;
    padding: 15px 0px;
  }

  .time-venue {
    font-size: 1em;
  }

  .os-os-band {
    font-size: 1.75em;
  }

  .footer {
    left: 43%;
    font-size: 1em;
  }
}
